$color-gray: #f5f6fa;
$color-gray-2: #e5e7eb;
$color-white: #FFFFFF;
$color-black: #444444;
$color-dark: #212a39;
$color-cian: #03a9f4;
$color-green: #1cc88a;
$color-purple: #4e73df;
$color-blue: #014ba0;
$color-yellow: #f6c23e;

$highlight-color: #FFFFFF;
$sidebar-bg-color: $color-dark;
$submenu-bg-color: #1d2531;
$sidebar-color: #a6aab4;
// $sidebar-width: 0;
$sidebar-collapsed-width: 0;

@media (max-width: 899px) {
    
}
  